.loading-message {
    display: none;
}

.is-loading .loading-message {
    display: block;
}

.is-loading main {
    opacity: 0;
    pointer-events: none;
}

header {
    background: #f2f6f7;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 15px;
    left: 15px;
}

main {
    margin-bottom: 20px;
    height: 100%;
}

.builder {
    position: relative;
    padding-top: 86px;
}

nav {
    position: fixed;
    z-index: 1;
    top: 42px;
    right: 15px;
    left: 15px;
    height: 45px;
    background: #f2f6f7;
}

nav a {
    text-decoration: none;
}

nav > .btn {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
    padding: 3px 10px;
    width: auto;
}

.btn-primary.add-field {
    text-decoration: none;
    font-size: 12px;
    padding: 3px 10px;
}

.component {
    position: relative;
    border: 1px dotted #999;
    cursor: move;
    padding: 15px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-preview .component {
    padding: 0 15px;
    border-color: transparent;
    margin-bottom: 0;
    background-color: transparent;
}

.component[draggable="true"] {
    background-color: rgba(0, 171, 209, 0.3);
}

.component.editing {
    background-color: rgba(0, 171, 209, 0.3);
}

.component:hover:not([draggable="true"]) {
    background-color: #ffffff;
    border: 1px dotted #999;
}

.form-preview .component:hover {
    border-color: #999;
}

.components-list .form-group > *,
.form-preview .form-group > * {
    pointer-events: none;
}

.component .add {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #EEE;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.component .add:hover {
    background-color: rgba(199, 241, 255, 0.9);
}

.component .form-group .btn {
    margin-bottom: 0;
}

.component .overlay-screen {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.component .edit-label {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
    width: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 10px);
}

.component .delete-field {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding-top: 1px;
    text-align: center;
    background: #d9534f;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.component:hover:not([draggable="true"]) .delete-field,
.component:hover:not([draggable="true"]) .edit-label,
.component:hover:not([draggable="true"]) .overlay-screen {
    opacity: 1;
    visibility: visible;
}

.component .delete-field:hover {
    background: #c9302c;
}

.form-preview .form-html {
    min-height: 100px;
    padding-bottom: 30px;
}
/* temporary code for the modal */
.modal.active {
    background-color: rgba(0,0,0,0.3);
    display: block;
}

.modal-dialog {
    display: flex;
    height: 98%;
    margin: 2%;
}

.modal-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal-body {
    overflow: scroll;
}
@media screen and (min-width: 640px) {
    .modal-dialog {
        display: flex;
        height: 90%;
        margin: 5% auto;
    }
}
