.loading-message {
  display: none;
}

.is-loading .loading-message {
  display: block;
}

.is-loading main {
  opacity: 0;
  pointer-events: none;
}

.component {
  position: relative;
  border: 1px dotted #AAA;
  cursor: move;
  padding: 10px 20px 0;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.component[draggable="true"] {
  background-color: rgba(255, 251, 206, 0.9);
}

.component.editing {
  background-color: rgba(199, 241, 255, 0.9);
}

.components-list .form-group > *,
.form-preview .form-group > * {
  pointer-events: none;
}

.components-list .add {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #EEE;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.components-list .add:hover {
  background-color: rgba(199, 241, 255, 0.9);
}

.form-preview .form-html {
  min-height: 200px;
}

/* temporary code for the modal */

.modal.active {
  background-color: rgba(0,0,0,0.3);
  display: block;
}

.modal-dialog {
  display: flex;
  height: 100%;
}

.modal-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal-body {
  overflow: scroll;
}