.fl-form {
  position: relative;
}

.fl-form.form-offline button[type="submit"] {
  pointer-events: none;
  opacity: 0.65;
}

.fl-form.form-offline .cover-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  pointer-events: all;
  background: rgba(255, 255, 255, 0.85);
}

.fl-form.loading-form .form-html {
  pointer-events: none;
  opacity: 0.2;
}

[data-form-builder-id].is-loading {
  opacity: 0;
  pointer-events: none;
}

form.placeholder {
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-modify: read-only !important;
}

form.placeholder .form-group,
form.placeholder button {
  pointer-events: none;
}

.fl-form .label-holder {
  display: block;
  text-align: right;
}

.fl-form .label {
  display: inline-block;
  border: 1px solid #337ab7;
  background-color: rgba(0, 171, 209, 0.55);
  margin: 10px 0;
}

.required-info,
.required-info-label {
  color: #337ab7;
}

.required-info-label {
  margin-bottom: 15px;
}

.fl-form .form-error {
  margin-top: 20px;
}

.fl-form .form-submitting {
  padding: 15px;
  position: absolute;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.fl-form.submitting .form-submitting {
  opacity: 1;
  pointer-events: all;
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
}

.fl-form.submitting .form-html {
  opacity: 0.3;
  pointer-events: none;
}


/* Buttons */

.btn-primary {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

.btn-secondary {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  background-color: #c0c0c0;
  white-space: initial;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
  outline: none;
}

.btn-danger {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
  color: #FFF;
  background-color: #c9302c;
  border-color: #c9302c;
  outline: none;
}

@media (min-width:640px) {
  .btn-primary,
  .btn-secondary {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
}

.btn-link,
a {
  text-decoration: underline;
}


/* FORM STYLES */

.form-group .control-label label {
  margin-bottom: 0;
  padding-top: 5px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  box-shadow: none;
  min-height: 44px;
}

.form-control.has-error {
  border: 1px solid #a94442;
}

.form-control:focus {
  border: 1px solid #337ab7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  line-height: 16px;
  padding: 15px;
  max-width: 100%;
}

.form-group .input-group {
  padding: 0px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.input-group-addon {
  position: absolute;
  width: 44px;
  height: 42px;
  top: 1px;
  left: 1px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border: none;
  z-index: 4;
}

.input-group-addon:first-child {
  border-right: 1px solid #ccc;
}

.form-group .input-group .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 57px;
}

.text-helper {
  margin-top: 0.2em;
  font-size: 0.8em;
  display: block;
}

.form-group p {
  margin: 0;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-html .btn {
  margin-bottom: 15px;
}

.form-html .btn:last-child {
  margin-bottom: 0;
}

/* CHECKBOXES */

.checkbox.checkbox-icon input[type="checkbox"] {
  z-index: -1;
  position: absolute;
  margin: 0;
  width: 28px;
  height: 28px;
  opacity: 0;
  background: black;
  display: block;
}

.checkbox.checkbox-icon input[type="checkbox"] + label {
  padding-left: 38px;
  line-height: 28px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

html[dir="rtl"] .checkbox.checkbox-icon input[type="checkbox"] + label {
  padding-left: 0;
  padding-right: 38px;
}

.checkbox.checkbox-icon input[type="checkbox"] + label > span.check {
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #e4e9eb;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

html[dir="rtl"] .checkbox.checkbox-icon input[type="checkbox"] + label > span.check {
  left: auto;
  right: 0;
}

.checkbox.checkbox-icon input[type="checkbox"]:checked + label > span.check {
  background-color: #337ab7;
}

.checkbox.checkbox-icon input[type="checkbox"] + label > span.check > i.fa {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: #337ab7;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.checkbox.checkbox-icon input[type="checkbox"]:checked + label span.check > i.fa {
  color: #FFF;
  -webkit-transform: scale(1);
  transform: scale(1);
}


/* RADIOS */

.radio.radio-icon input[type="radio"] {
  z-index: -1;
  position: absolute;
  margin: 0;
  width: 28px;
  height: 28px;
  opacity: 0;
  background: none;
  display: block;
}

.radio.radio-icon input[type="radio"] + label {
  padding-left: 38px;
  line-height: 28px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

html[dir="rtl"] .radio.radio-icon input[type="radio"] + label {
  padding-left: 0;
  padding-right: 38px;
}

.radio.radio-icon input[type="radio"] + label > span.check {
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #e4e9eb;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

html[dir="rtl"] .radio.radio-icon input[type="radio"] + label > span.check {
  right: 0;
  left: auto;
}

.radio.radio-icon input[type="radio"]:checked + label > span.check {
  background-color: #337ab7;
}

.radio.radio-icon input[type="radio"] + label > span.check > i.fa {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.radio.radio-icon input[type="radio"] + label span.check > i.fa:before {
  content: '';
  display: block;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.radio.radio-icon input[type="radio"]:checked + label span.check > i.fa {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* SELECT */

.select-proxy-display {
  width: 100%;
  height: 44px;
  margin: 0 auto;
  padding: 0 44px 0 0;
  background: #fff;
  border: 1px solid #e4e9eb;
  border-radius: 6px;
  cursor: pointer;
  outline: 0;
  font-weight: 400;
  line-height: 44px;
  position: relative;
  color: #333;
}

.select-proxy-display > .hidden-select {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.select-proxy-display > .select-value-proxy {
  position: absolute;
  left: 0;
  top: 0;
  right: 42px;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-proxy-display > .icon {
  position: absolute;
  width: 44px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background-color: #337ab7;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  color: #FFF;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #e4e9eb;
  z-index: 2;
  pointer-events: none;
}

.select-proxy-display > .hidden-select[disabled]~.icon {
  background-color: #aaa;
}

.select-proxy-display > .hidden-select[disabled]~.select-value-proxy {
  background: #e4e9eb;
  pointer-events: none;
}


/* FILE */

.fileUpload {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

.fileUpload span {
  padding-right: 10px;
}

.fileUpload .canvas-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
}

.fileUpload .row {
  margin: 0;
}

.fileUpload .row > div {
  margin-bottom: 15px;
}

.fileUpload .canvas-holder .badge {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: -10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.fileUpload .canvas-remove {
  position: absolute;
  padding: 0;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffa7a7;
  border: none;
  box-shadow: none;
  outline: none;
}

.fileUpload .canvas-remove:after,
.fileUpload .canvas-remove:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

.fileUpload .canvas-remove:before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.fileUpload .canvas-holder canvas {
  width: 100%;
  height: 70px;
}

.fileUpload .btn {
  position: relative;
}

.fileUpload .fa {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  top: 50%;
  margin-top: -10px;
  right: 4px;
  color: #FFF;
  opacity: 0.5;
}

.fileUpload input[type="file"] {
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.file-thumbnail-helper {
  position: absolute;
  height: 34px;
  width: 30px;
  right: 6px;
  top: 50%;
  margin-top: -17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-thumbnail-helper img {
  max-width: 100%;
  max-height: 100%;
}

.file-name-helper {
  margin-top: -10px;
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  .file-name-helper {
    margin-top: 0;
    display: inline-block;
  }
}


/* STAR RATING */
[_type="flStarRating"] .inverse-direction {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  direction: rtl;
}

[_type="flStarRating"] .rating-input {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 0 0 -30px;
  opacity: 0;
}

[_type="flStarRating"] .rating-star {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

[_type="flStarRating"] .rating-star .fa {
  font-size: 30px;
  color: #337ab7;
}

[_type="flStarRating"] .rating-star .fa.fa-star-o {
  display: block;
}

[_type="flStarRating"] .rating-star .fa.fa-star {
  display: none;
}

[_type="flStarRating"] .rating-input:checked~.rating-star .fa.fa-star-o {
  display: none;
}

[_type="flStarRating"] .rating-input:checked~.rating-star .fa.fa-star {
  display: block;
}

/* SIGNATURE FIELD */

.field-signature {
  position: relative;
}

.field-signature a {
  position: absolute;
  top: 0;
  right: 10px;
  text-decoration: none;
  color: #AAA;
}

.field-signature canvas {
  border: 1px solid #ccc !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.has-success .field-signature canvas {
  border-color: #3c763d !important;
}

.has-warning .field-signature canvas {
  border-color: #8a6d3b !important;
}

.has-error .field-signature canvas {
  border-color: #a94442 !important;
}

/* WYSIWYG FIELD */

.form-group .mce-tinymce {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group .mce-top-part::before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

.form-group .mce-ico {
  color: #666;
}

.form-group.has-success .mce-tinymce {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-group.has-success .mce-top-part::before {
  border-color: #3c763d;
}

.form-group.has-success .tinymce-mobile-outer-container:not(.tinymce-mobile-fullscreen-maximized) .tinymce-mobile-editor-socket {
  border-color: #3c763d;
}

.form-group.has-warning .mce-tinymce {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-group.has-warning .mce-top-part::before {
  border-color: #8a6d3b;
}

.form-group.has-warning .tinymce-mobile-outer-container:not(.tinymce-mobile-fullscreen-maximized) .tinymce-mobile-editor-socket {
  border-color: #8a6d3b;
}

.form-group.has-error .mce-tinymce {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-group.has-error .tinymce-mobile-outer-container:not(.tinymce-mobile-fullscreen-maximized) .tinymce-mobile-editor-socket {
  border-color: #a94442;
}

.form-group.has-error .mce-top-part::before {
  border-color: #a94442;
}

.form-group div.mce-edit-area {
  border-color: transparent;
}

.tinymce-mobile-outer-container .tinymce-mobile-disabled-mask {
  opacity: 0;
}

.tinymce-mobile-outer-container .tinymce-mobile-disabled-mask .tinymce-mobile-content-container,
.tinymce-mobile-outer-container .tinymce-mobile-disabled-mask .tinymce-mobile-content-container .tinymce-mobile-content-tap-section {
  width: 100%;
  height: 100%;
}

.tinymce-mobile-outer-container:not(.tinymce-mobile-fullscreen-maximized) .tinymce-mobile-editor-socket {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* LINE BREAK */

form hr {
  border-top: 2px solid #dddddd;
}


/* @MEDIA */

@media screen and (min-width: 640px) {
  .btn-link,
  .btn-primary,
  .btn-secondary {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
  .form-html .btn {
    margin-bottom: 0;
  }
  .form-html .btn + .btn {
    margin-right: 15px;
  }

  .fileUpload .canvas-holder canvas {
    width: 100%;
    height: 130px;
  }
}

.form-group .mce-btn-group {
  float: none;
}

/* Date picker */

.datepicker table tr {
  border-color: transparent;
}

.datepicker table tr td,
.datepicker table tr th {
  min-width: 44px;
}

/* TinyMCE source code area */

.mce-window[aria-label="Source code"] textarea {
  font-family: monospace;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-leave-active {
  opacity: 1;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.callout {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #f2f6f7;
  border-left-width: 5px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.callout-danger {
  border-color: #E03629;
}

.callout p:last-child {
  margin-bottom: 0;
}


/* Loading */

.sending-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.spinner-holder {
  overflow: hidden;
  display: none;
  text-align: center;
}

.spinner-holder.animated {
  display: block;
}

.spinner-overlay,
.spinner-overlay:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinner-overlay {
  margin: 2px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(138, 138, 138, 0.3);
  border-right: 1.1em solid rgba(138, 138, 138, 0.3);
  border-bottom: 1.1em solid rgba(138, 138, 138, 0.3);
  border-left: 1.1em solid #14505e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loadRotate 1.1s infinite linear;
  animation: loadRotate 1.1s infinite linear;
}

@-webkit-keyframes loadRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
