<div class="form-group">
  <label>Allowed files</label>
  <select v-model="accept" class="form-control">
    <option value="">All files</option>
    <option value="image/gif, image/jpg, image/jpeg, image/tiff, image/png">Images only</option>
  </select>
</div>