<div class="form-group">
  <label>Select the folder where the images are stored.</label>
  <div class="btn btn-primary" id="select_folder" v-model="mediaFolderId" v-on:click="openFilePicker">Select a folder</div>
</div>
