<div class="form-group row">
  <div class="col-xs-12">
    <label>Select the folder where the images are stored.</label>
  </div>
  <div class="col-xs-12">
    <div class="btn btn-primary" id="select_folder" v-model="mediaFolderId" v-on:click="openFilePicker">Select a folder</div>
  </div>
</div>
