<div class="form-group">
  <label>Allowed files</label>
  <label for="allow-files" class="select-proxy-display">
    <span class="icon fa fa-chevron-down"></span>
    <span class="select-value-proxy">All files</span>
    <select class="form-control hidden-select" id="allow-files" v-model="accept">
      <option value="">All files</option>
      <option value="image/gif, image/jpg, image/jpeg, image/tiff, image/png">Images only</option>
    </select>
  </label>
</div>
