<form v-on:submit.prevent="onSubmit">
  <div class="form-group">
    <label>Field ID</label>
    <input class="form-control" type="text" v-model.trim="name" placeholder="Field name" />
  </div>

  <div class="form-group">
    <label>Field description</label>
    <input class="form-control" type="text" v-model.trim="label" placeholder="Field description" />
  </div>

  {{{ template }}}

  <button type="submit" class="btn btn-primary">Save changes</button>
</form>