<div class="form-group">
  <label>Set a maximum width for uploaded images</label>
  <input class="form-control" type="number" v-model.trim="customWidth" />
</div>
<div class="form-group">
  <label>Set a maximum height for uploaded images</label>
  <input class="form-control" type="number" v-model.trim="customHeight" />
</div>
<div class="form-group">
  <label>Select the folder where the images are stored.</label>
  <div class="btn btn-primary" id="select_folder" v-model="mediaFolderId" v-on:click="openFilePicker">
    <template v-if="mediaFolderId">Replace folder</template>
    <template v-else>Select a folder</template>
  </div>
    <div v-if="mediaFolderId" class="selected-folder-holder">
      <i class="fa fa-folder"></i> Selected folder: <strong>\{{ mediaFolderData.name }}</strong> - <a href="#" v-on:click.prevent="openFileManager">See files</a>
    </div>
</div>
