<div class="form-group">
  <label>Custom width</label>
  <input class="form-control" type="number" v-model.trim="customWidth" />
</div>
<div class="form-group">
  <label>Custom height</label>
  <input class="form-control" type="number" v-model.trim="customHeight" />
</div>

