<div class="is-loading" data-form-builder-id="{{ id }}">
  <form v-if="isConfigured" v-on:submit.prevent="onSubmit" class="fl-form">
    <div v-if="!isSending && !isSent" class="form-html form-horizontal">
      <span v-if="hasRequiredFields" class="label label-info">* marks required fields</span>
      <div v-for="field in fields">
        <component :is="field._type" v-bind="field" v-on:input="value => { field.value = value }"></component>
      </div>
      <div class="form-btns clearfix">
        {{#if submitLabel}}
          <button type="submit" class="btn btn-primary pull-right">{{ submitLabel }}</button>
        {{/if}}
        {{#if clearLabel}}
          <button type="reset" class="btn btn-secondary pull-right">{{ clearLabel }}</button>
        {{/if}}
      </div>
    </div>
    <div v-else>{{{ resultHtml }}}</div>
  </form>
  <div v-else>
    <p class="alert alert-warning">
      <span v-if="!fields.length">Please select a form template to start building your form.</span>
    </p>
  </div>
  <p class="alert alert-warning" v-if="error">\{{ error }}</p>
</div>