<div id="app">
  <main>
    <section>
      <h2>Components list</h2>
      <div v-sortable="{ sort: false, group: { name: 'fields', pull: 'clone', put: false, revertClone: true } }">
        <div class="well" v-for="field in formFields">
          <component :is="field"></component>
        </div>
      </div>
    </section>

    <section>
      <h2>Sample output</h2>
      <div class="form-preview" v-sortable="{ group: { name: 'fields', pull: false }, onAdd: onAdd, onUpdate: onSort }">
        <div :data-id="field.id" class="well" v-for="(field, index) in fields" v-on:click="onFieldClick(field)">
          <component :is="field.type" v-bind="field"></component>
          <a href="#" v-on:click.prevent="deleteField(index)">Delete</a>
          <div v-if="field.id === activeFieldId">
            <p> is editing \{{activeFieldConfigType}}</p>
          </div>
        </div>
      </div>
      <hr />

      <div v-if="activeFieldConfigType">
        <form>
          <p>Configure this field</p>
          <component :is="activeFieldConfigType" v-bind="activeField"></component>
        </form>
      </div>
    </section>
  </main>
</div>