<div id="app">
  <main>
    <section>
      <h2>Components list</h2>
      <div v-sortable="{ sort: false, group: { name: 'fields', pull: 'clone', put: false, revertClone: true } }">
        <div class="well" v-for="field in formFields">
          <component :is="field"></component>
        </div>
      </div>
    </section>

    <section>
      <h2>Sample output</h2>
      <div class="form-preview" v-sortable="{ group: { name: 'fields', pull: false }, onAdd: onAdd, onUpdate: onSort }">
        <div class="well" v-for="(field, index) in fields">
          <component :is="field.type" v-bind="field" :editable="true"></component>
          <a href="#" v-on:click.prevent="deleteField(index)">Delete</a>
        </div>
      </div>
    </section>
  </main>
</div>