<template v-if="showSubmit">
<button :type="submitType" class="btn btn-primary pull-right">\{{ submitValue }}</button>
</template>
<template v-if="showClear">
<button :type="clearType" class="btn btn-secondary pull-right" @click="resetForm()">\{{ clearValue }}</button>
</template>