<template v-for="(option, index) in options">
  <label :for="name + '-' + index">
    <input type="checkbox" :id="name + '-' + index" :name="name" v-model="value" :value="option.id" :required="required" v-on:change="updateValue()" /> \{{ option.id }}&nbsp;&nbsp;&nbsp;
  </label>
</template>