<template v-for="(option, index) in options">
  <input type="checkbox" :id="name + '-' + index" :name="name" v-model="value" :value="option.id" :required="required" v-on:change="updateValue()">
  <label :for="name + '-' + index">
    <span class="check"><i class="fa fa-check"></i></span> \{{ option.id }}&nbsp;&nbsp;&nbsp;
  </label>
</template>
