<div v-if="isWeb" class="input-group custom-date">
  <div class="input-group-addon">
    <i class="fa fa-calendar"></i>
  </div>

  <input 
  	type="text"
  	v-model.lazy="value"
  	v-on:change="updateValue()"
  	:name="name"
  	:id="name"
  	:placeholder="placeholder"
  	class="date-picker form-control"
  />
</div>
<div v-else class="input-group native-date">
  <div class="input-group-addon">
    <i class="fa fa-calendar"></i>
  </div>

  <input
    type="date"
    v-model.lazy="value"
    v-on:change="updateValue()"
    :name="name"
    :id="name"
    :placeholder="placeholder"
    class="form-control"
  />
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>