<div class="form-group row clearfix">
  <div class="col-xs-12">
    <label v-if="_isFormField" :for="name">
    	\{{ label }} <template v-if="required"><span class="required-info">*</span></template>
    </label>
  </div>
  <div class="col-xs-12">
    {{{ template }}}
  </div>
</div>
