<div class="form-group">
  <label class="col-sm-12 control-label" :for="name">\{{ label }} <template v-if="required">*</template></label>
  <div class="col-sm-12">
    {{{ template }}}
  </div>
</div>