<input
  type="password"
  class="form-control"
  :readonly="autogenerate"
  autocomplete="off"
  v-on:input="updateValue()"
  v-model="value"
  :name="name"
  :id="name"
  :placeholder="fieldPlaceholder"
  :required="required"
/>

<div class="form-group row clearfix" v-if="confirm" :class="{ 'has-error': hasConfirmationError }">
  <br />
  <div class="col-xs-12">
    <label class="control-label" for="confirmPassword">Confirm password <template v-if="required"><span class="required-info">*</span></template></label>
  </div>
  <div class="col-xs-12">
    <input
      type="password"
      class="form-control"
      v-model="valueConfirmation"
      v-on:input="checkPasswordConfirmation()"
      id="confirmPassword"
      ref="confirmPassword"
      :required="required && !hidden"
      autocomplete="off"
    />
    <span v-if="hasConfirmationError" class="help-block">Password confirmation does not match password.</span>
  </div>
</div>
