<input
  type="password"
  class="form-control"
  :readonly="autogenerate"
  autocomplete="off"
  v-on:blur="updateValue()"
  v-model.lazy="value"
  :name="name"
  :id="name"
  :placeholder="fieldPlaceholder"
/>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>

<div class="form-group row clearfix" v-if="confirm">
  <br />
  <div class="col-xs-12">
    <label class="control-label" for="confirmPassword">Confirm password
        <template v-if="required">
            <span class="required-info">*</span>
        </template>
    </label>
  </div>
  <div class="col-xs-12">
    <input
      type="password"
      class="form-control"
      v-model.lazy="valueConfirmation"
      id="confirmPassword"
      autocomplete="off"
      v-on:blur="updateConfirmation()"
    />
    <p class="text-danger" v-if="$v.valueConfirmation.sameAs === false && $v.valueConfirmation.$dirty">Password confirmation does not match password.</p>
  </div>
</div>
