<template v-for="option in options">
  <label v-bind:for="name">
    <input type="radio" v-bind:id="name" v-bind:name="name" v-model="value" v-bind:value="option.id"/> \{{ option.name }}&nbsp;&nbsp;&nbsp;
  </label>
</template>