<select class="form-control" v-bind:name="name" v-bind:id="name" v-model="value">
  <option v-if="placeholder" value="" disabled="disabled">\{{ placeholder }}</option>
  <option v-for="option in options" v-bind:value="option.id" v-bind:disabled="option.disabled">
    \{{ option.name }}
  </option>
</select>