<select class="form-control" :name="name" :id="name" v-model="value" :required="required" v-on:input="updateValue()">
  <option v-if="placeholder" value="" disabled="disabled">\{{ placeholder }}</option>
  <option v-for="option in options" :value="option.id" :disabled="option.disabled">
    \{{ option.id }}
  </option>
</select>