<div class="inverse-direction">
  <template v-for="(option, index) in values">
    <input
            class="rating-input"
            :name="name"
            type="radio"
            :id="name + '-' + index"
            v-model="value"
            :value="option.id"
            v-on:change="updateValue()"
    >
    <label class="rating-star" :for="name + '-' + index">
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star"></i>
    </label>
  </template>
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
