<div class="input-group custom-time">
  <div class="input-group-addon">
    <i class="fa fa-clock-o"></i>
  </div>

  <input 
    type="time"
    v-model.lazy="value"
    v-on:change="updateValue()"
    :name="name"
    :id="name"
    :placeholder="placeholder"
    class="form-control"
  />
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
