<textarea
  class="form-control"
  v-model.trim.lazy="value"
  ref="textarea"
  :name="name"
  :id="name"
></textarea>
<div
  class="ghost-tinymce"
  ref="ghost"
  v-html="value"
  v-if="isInterface">
</div>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
